<div id="task_<%= task.id %>">
  <div id="task_<%= task.id %>_head">
    <h2><%= task.title %> Priority:<%= task.priority %></h2>
  </div>
  <div id="task_<%= task.id %>_body" class="hidden">
    <p><%= task.body %></p>
  </div>
</div>