<div id="<%= task.task_number %>_task">
  <div id="task_<%= task.task_number %>_head" class="task_head">
    <h2><%=task.task_number%>: <%= task.title %> 
     <%= link_to image_tag("left-arrow.png"), "#task_#{task.task_number}_body", class: "task_head_button open" %></h2>
   
   
  </div>
  <div id="task_<%= task.task_number %>_body" class="task_body hidden">
    <% if task.body != ""  %>
      <p><%= task.body %></p>
    <% else  %>
      <p>No body home, come back later</p>
    <% end  %>
    <%= link_to task.status == "open" ? "Close" : "Open", task_path(task), method: "delete", remote:true, class: "link" %>
    <% if task.status == "open"  %>
      <%= link_to "Edit", edit_task_path(task), remote:true, class: "link" %>
    <% end  %>
    <div id="comments">
      <% task.comments.each do |comment|%>
        <%= render partial: "comments/display", locals: {comment: comment} %>
      <% end  %>
    </div>
    <div id="comment_form">
      <%= form_for task.comments.build, remote: true do |f| %>
      <%= f.label :body, "New Comment" %><br>
      <%= f.text_area :body, required: true, size: "30x4" %><br>
      <%= f.hidden_field :user_id, value: session[:user_id] %>
      <%= f.hidden_field :task_id, value: task.id %>
      <%= f.submit "Comment", class: "link" %>
      <% end %>
    </div>
  </div>
</div>