<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> The following issues          must be fixed:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<%= form_for @user, url: user_path do |f| %>
<%= f.label :name %>
<%= f.text_field :name, required: true %><br>
<%= f.label :password %>
<%= f.password_field :password, required: true %><br>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, required:true %><br>
<%= f.submit "Create Account" %>
<% end %>